<ul uk-accordion>
        <li>
            <a class="uk-accordion-title" href="#">Mountains</a>
            <div class="uk-accordion-content">
                <table class="uk-table">
                    <thead>
                    <tr>
                    <th>Point of Interest</th>
                    <th>Uploaded By</th>
                    <th>View POI</th>
                    </tr>
                    </thead>
                    <tbody class="uk-text-left">
                    {{#each mountains}}
                        <tr>
                            <td>{{name}}</td>
                            {{#if user}}
                                <td> {{user.firstName}} {{user.lastName}} </td>
                            {{else}}
                                <td> Unknown User </td>
                            {{/if}}
                            <td> <button class="uk-button uk-button-secondary"> <a href="/poiview/{{_id}}"> Primary </a></button> </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">National Monuments</a>
            <div class="uk-accordion-content">
                <table class="uk-table">
                    <thead>
                    <th>Point of Interest</th>
                    <th>Uploaded By</th>
                    <th>View POI</th>
                    </thead>
                    <tbody class="uk-text-left">
                    {{#each natMons}}
                        <tr>
                            <td>{{name}}</td>
                            <td> {{user.firstName}} {{user.lastName}} </td>
                            <td> <button class="uk-button uk-button-secondary"> <a href="/poiview/{{_id}}"> Primary </a></button> </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">Forests</a>
            <div class="uk-accordion-content">
                <table class="uk-table">
                    <thead>
                    <th>Point of Interest</th>
                    <th>Uploaded By</th>
                    <th>View POI</th>
                    </thead>
                    <tbody class="uk-text-left">
                    {{#each forests}}
                        <tr>
                            <td>{{name}}</td>
                            {{#if user}}
                                <td> {{user.firstName}} {{user.lastName}} </td>
                            {{else}}
                                <td> Unknown User </td>
                            {{/if}}
                            <td> <button class="uk-button uk-button-secondary"> <a href="/poiview/{{_id}}"> Primary </a></button> </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">Islands</a>
            <div class="uk-accordion-content">
                <table class="uk-table">
                    <thead>
                    <th>Point of Interest</th>
                    <th>Uploaded By</th>
                    <th>View POI</th>
                    </thead>
                    <tbody class="uk-text-left">
                    {{#each islands}}
                        <tr>
                            <td>{{name}}</td>
                            {{#if user}}
                                <td> {{user.firstName}} {{user.lastName}} </td>
                            {{else}}
                                <td> Unknown User </td>
                            {{/if}}
                            <td> <button class="uk-button uk-button-primary"> <a href="/poiview/{{_id}}"> Primary </a></button> </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </li>
    </ul>