<div class="uk-card uk-card-default">
    <div class="uk-card-media-top">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>
            {{#each slideshow}}
                <ul class="uk-slideshow-items">
                    <li>
                        <img src="{{url}}">
                    </li>
                </ul>
            {{/each}}
            <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

        </div>
    </div>
    <div class="uk-card-body">
        <h3 class="uk-card-title uk-text-center">Weather Conditions</h3>
        <dl class="uk-description-list uk-description-list-divider">
            <dt>Weather</dt>
            <dd>{{weather.weather}}</dd>
            <dt>Temperature</dt>
            <dd>{{weather.temp}}</dd>
            <dt>Feels Like</dt>
            <dd>{{weather.feelTemp}}</dd>
            <dt>Wind Speed</dt>
            <dd>{{weather.windspeed}}</dd>
        </dl>
    </div>
</div>