    <table class="uk-table">
        <caption>
            POIs
        </caption>
        <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Account Type</th>
        <th>Remove</th>
        </thead>
        <tbody class="uk-text-left">
        {{#each users}}
            <tr>
                <td> {{firstName}} {{lastName}} </td>
                <td> {{email}} </td>
                {{#if isAdmin}}
                    <td>Administrator</td>
                {{else}}
                    <td>Customer</td>
                {{/if}}
                <td><button class= "uk-button" ><a href = "/deleteuser/{{_id}}">Delete</a></button> </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
