{{>inner-menu}}
<div class="uk-child-width-expand@s uk-text-left" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <dl class="uk-description-list uk-description-list-divider">
                <dt>Point of Interest</dt>
                <dd>{{poi.name}}</dd>
                <dt>Category</dt>
                <dd>{{poi.category}}</dd>
                <dt>Latitude</dt>
                <dd>{{poi.lat}}</dd>
                <dt>Longitude</dt>
                <dd>{{poi.long}}</dd>
                <dt>Description</dt>
                <dd>{{poi.description}}</dd>
                <dt>Rating</dt>
                <dd>{{poi.rating}}</dd>
            </dl>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">{{> slideshow}}</div>
    </div>
</div>
</div>